---
layout: splash
permalink: /
title: "My Data Science Portfolio"
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/mm-home-page-feature.jpg
  cta_label: "<i class='fab fa-github'></i> Github"
  cta_url: "https://github.com/pleonova"
  cta_label: "<i class='fab fa-linkedin'></i> Github"
  cta_url: "https://www.linkedin.com/in/paulaleonova/"
  caption:
excerpt: 'A collection of projects and blog posts about machine learning, visualizations and other data things.'

intro:
  - excerpt: 'Feel free to connect with me here &nbsp; [<i class="fab fa-linkedin"></i>](https://www.linkedin.com/in/paulaleonova/){: .btn .btn--primary}'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
